<section>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header link">
                <a class="navbar-brand btn" href="/logout">
                Logout
                </a>
                <a class="navbar-brand btn" href="/deleteuser">
                Delete Account
                </a>
            </div>
        </div>
    </nav>
    <div class="modal-dialog container text-center">
        <div class="row d-flex justify-content-right">
            <div class="card">
                <div id="budgetList" class="card-body">
                    <h5 class="card-title">Budget Tracking</h5>

                    <input type="budgetInfo" class="form-control mb-3" id="budgetInput" placeholder="$ $ $" />

                    <button id="budgetBtn" type="submit" class="btn btn-primary">Submit spending!</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="js/members.js"></script>